* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilory';
}

html,
body {
    width: 100%;
    height: 100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #E3E3C4;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #556043;
    padding:5vw ;
}
#page2 h1{
    color: #434B34;
    font-size: 4.5vw;
    text-align: center;
    font-weight: 300;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   line-height: 4vw;

}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #E3E3C4;
}