*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilory';
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: rgb(90, 202, 141); */
    position: relative;
    padding: 0.1px;
}
#nav{
    height: 12vh;
    width: 100%;
    /* background-color: rgb(194, 45, 45); */
    margin-top: 40px;
    border-top: 2px solid #000 ;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    height: 100%;
    width: 20%;
    /* background-color: rgb(0, 191, 255); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -1px;
}

#nav h2{
      height: 100%;
      width: 20%;
      /* background-color: yellow; */
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 2px solid #000;
      font-size: 22px;
      font-weight: 600;
}
#nav h2:nth-last-child(2){
    width: 29%;
    /* background-color: red; */ 
}
#nav h2:nth-last-child(1){
    width: 10%;
    /* background-color: red; */ 
}
#center{
    height: 80%;
    width: 100%;
    /* background-color: rgb(17, 0, 128); */
    padding: 4vw;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    background-color: green;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
 height: 52%;
 width: 100%;
 position: absolute;
 bottom: 0;
 /* background-color: green;  */
 padding: 3vw;
 color: white;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5vw;
}
#over1 h1{
    font-family:monument;
    font-size: 3vw;
    /* font-weight:100 ; */
    
}
#over1 h2{
   
    font-size: 1w;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    /* font-weight:100 ; */
    border: 1px solid #fff;
   
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
   border-top: 2px solid #fff;
   padding: 0.5vw 0;
}
#over2 h4{
    font-size:1.3vw ;
    font-weight: 500;
}
#over2 img{
    height:3vw ;
}